<%= render 'shared/errors', obj: @space %>
<div class="well span9">
  <%= form_for @space, html: { multipart: true } do |f| %>
  
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    <div>
    <div class="form-group">
      <%= f.label :street_address %>
      <%= f.text_area :street_address, class: "form-control" %>
    <div>
      <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
    <div>
    <div class="form-group">
      <%= f.label :country %>
      <%= f.text_field :country, class: "form-control" %>
    <div>
    <div class="form-group">
      <%= f.label :category_name, "Country" %>
      <%= text_field_tag :category_name %>
    <div>
    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control" %>
    <div>
      <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    <div>
    <p>
      <%= f.label :main_photo %>
      <%= f.file_field :main_photo, class: "btn btn-file" %>
    </p>
    <p>
      <%= f.label :additional_photos %>
      <%= f.file_field :additional_photos, class: "btn btn-file" %>
    </p>
    <br/>
      <%= f.submit(@space.new_record? ? "Add this space!" : "Update Space", class: "btn btn-primary") %>
    <% end %>
   
</div>
