
  <div class="row">
    <div class="span0 well text-center">
      <% if logged_in? %>
        <%= link_to vote_space_path(space, vote: true), method: "post" do %> 
          <i class="icon-arrow-up"></i>
          <% end %>
      <% end %>
        <p><span id="spaces_<%=space.id%>_votes"><%= space.actual_votes %> votes</span></p>
         <% if logged_in? %>
            <%= link_to vote_space_path(space, vote: false), method: "post" do %> 
          <i class="icon-arrow-down"></i>
        <% end %>
      <% end %>
    </div>

    <div class="span9 well">
      <span class="badge"><%= link_to space.list_region, category_path(space.categories) %></span>
        <h4><%= link_to space.name, space_path(space) %></h4>
          <p><%= space.city %></p>
          <p><%= space.country %></p>
          <p><span class="quiet">posted by <%= link_to space.user.full_name, user_path(space.user) %>
            <%= time_ago_in_words(space.created_at) %> ago </span></p>
        <div class="add_photo">
          <%= link_to (image_tag space.additional_photos.to_s), space_path(space) %>
        </div>
        <small>
          <span>
            <%= link_to("#{pluralize(space.comments.size, 'comment')}", space_path(space)) %>
          </span>
        </small>
    </div>
  </div>



  