<div class="container">
  <%= render "shared/title", title: "Details of #{@space.name}" %>

  <%# photo of the space? %>
  <div class="well">
  <% if logged_in? and current_user == @space.user %>
    <p class="pull-right">
      [<%= link_to "Edit this Space", edit_space_path(@space) %>]
    </p>
  <% end %>
    <span class="badge"><%#= link_to @category.name, category_path(@category) %></span>
    <p>Address: <%= @space.street_address %></p>
    <p>City: <%= @space.city %></p>
    <p>Country: <%= @space.country %></p>
    <p>Phone number: <%= @space.phone %></p>
    <p>Description: <%= @space.description %></p>
    <p></p>
    <span class="glyphicon glyphicon-thumbs-up"></span>
    <span class="glyphicon glyphicon-thumbs-down"></span>

  </div>

  <% if logged_in? %>

  <%= render 'shared/errors', obj: @comment %>
  <%= form_for [@space, @comment] do |f| %>
    <div class="control-group">
      <%= f.label :body, "Leave a comment" %>
      <%= f.text_area :body, rows: 8, class: "span4" %>
    </div>
     <%= f.submit "Create comment", class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Back to List of All Spaces", home_path %>

  <h4>Comments:</h4>
    <% @space.comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  <% end %>
</div>

